@model ICUScore.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container active">
    <div class="container">
        <table class="table table-hover" style="background-color:lightblue;color:darkblue">
            <thead>
                <tr>
                    <th>Welcome @Model.Name</th>
                </tr>
                <tr>
                    <th>Your last PvP Match</th> <th>@Model.pvpStat.LastMatch</th>
                </tr>
                <tr>
                    <th>Your Best HS</th><th> @Model.highScore.Highscore</th>
                </tr>
            </thead>
        </table>        
    </div>
    </div>

