<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICUScore - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:dodgerblue;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ICUScore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @style = "color:aquamarine;" })</li>
                    <li>@Html.ActionLink("PvP", "Index", "PvP", new { area = "" }, new { @style = "color:aquamarine;" })</li>
                    <li>@Html.ActionLink("Scoreboard", "Index", "Scoreboard", new { area = "" }, new { @style = "color:aquamarine;" })</li>
                    <li>@Html.ActionLink("Top Overall Scores", "Index", "Chart", new { area = "" }, new { @style = "color:aquamarine;" })</li>
                    @if ((Session.Keys.Count > 0) && (!String.IsNullOrWhiteSpace(Convert.ToString(Session["sessionGUID"]))))
                    {
                        <li>@Html.ActionLink("Registration", "Index", "Login", new { area = "" }, new { @style = "color:aquamarine;" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @style = "color:aquamarine;" })</li>
                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="panel-footer" style="background-color:dodgerblue;color:aquamarine">
            <p>&copy; @DateTime.Now.Year - ICUScore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
